.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid black;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.link:hover {
  color: orange;
}
