.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black; 
    padding: 10px;
    border-radius: 5px;
    width: 320px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .input {
    padding: 5px;
    font-size: 16px;
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .submitButton {
    margin: 0 auto;
    width: 150px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #8d8a8a;
  }
  